Shipping_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ShippingServiceImplService" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.aic.infosys.tuwien.ac.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="address" type="tns:address"/>
      <xs:element name="item" type="tns:item"/>
      <xs:element name="product" type="tns:product"/>
      <xs:element name="ship_items" type="tns:ship_items"/>
      <xs:element name="ship_itemsResponse" type="tns:ship_itemsResponse"/>
      <xs:complexType name="ship_items">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="tns:item"/>
          <xs:element minOccurs="0" name="address" type="tns:address"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="quantity" type="xs:int"/>
          <xs:element minOccurs="0" name="product" type="tns:product"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="product">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
      </xs:complexType>
      <xs:complexType name="address">
        <xs:sequence>
          <xs:element minOccurs="0" name="street" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element name="house" type="xs:int"/>
          <xs:element name="door" type="xs:int"/>
          <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
          <xs:element name="isShipping" type="xs:boolean"/>
          <xs:element name="isBilling" type="xs:boolean"/>
          <xs:element name="isOther" type="xs:boolean"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
      </xs:complexType>
      <xs:complexType name="ship_itemsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ship_itemsResponse">
    <wsdl:part element="tns:ship_itemsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ship_items">
    <wsdl:part element="tns:ship_items" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ShippingService">
    <wsdl:operation name="ship_items">
      <wsdl:input message="tns:ship_items" name="ship_items"/>
      <wsdl:output message="tns:ship_itemsResponse" name="ship_itemsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingServiceImplServiceSoapBinding" type="tns:ShippingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ship_items">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ship_items">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ship_itemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingServiceImplService">
    <wsdl:port binding="tns:ShippingServiceImplServiceSoapBinding" name="ShippingServiceImplPort">
      <soap:address location="http://localhost:8080/Shipping"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>