Warehouse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WarehouseService" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" xmlns:ns1="http://soap.aic.infosys.tuwien.ac.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" version="1.0" xmlns:tns="http://soap.aic.infosys.tuwien.ac.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="check_availability" type="tns:check_availability"/>
      <xs:element name="check_availabilityResponse" type="tns:check_availabilityResponse"/>
      <xs:element name="order" type="tns:order"/>
      <xs:element name="orderResponse" type="tns:orderResponse"/>
      <xs:element name="product" type="tns:product"/>
      <xs:element name="warehouseResponse" type="tns:warehouseResponse"/>
      <xs:complexType name="order">
        <xs:sequence>
          <xs:element minOccurs="0" name="product" type="tns:product"/>
          <xs:element minOccurs="0" name="amount" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="product">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
      </xs:complexType>
      <xs:complexType name="orderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="check_availability">
        <xs:sequence>
          <xs:element minOccurs="0" name="product" type="tns:product"/>
          <xs:element minOccurs="0" name="amount" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="check_availabilityResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:warehouseResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="warehouseResponse">
        <xs:sequence>
          <xs:element name="deliveryTime" type="xs:int"/>
          <xs:element name="isAvailable" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="orderResponse">
    <wsdl:part element="ns1:orderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="order">
    <wsdl:part element="ns1:order" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="check_availability">
    <wsdl:part element="ns1:check_availability" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="check_availabilityResponse">
    <wsdl:part element="ns1:check_availabilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WarehouseService">
    <wsdl:operation name="order">
      <wsdl:input message="ns1:order" name="order"/>
      <wsdl:output message="ns1:orderResponse" name="orderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="check_availability">
      <wsdl:input message="ns1:check_availability" name="check_availability"/>
      <wsdl:output message="ns1:check_availabilityResponse" name="check_availabilityResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>