OrderProcessApp/src/jbiasa/OrderProcessApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="OrderProcessApp"
             xmlns:tns="OrderProcessApp" xmlns:ns="http://infosys.tuwien.ac.at/aic10/ass2/process" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://infosys.tuwien.ac.at/aic10/dto/custommanagerwrapper">
    <import namespace="http://infosys.tuwien.ac.at/aic10/ass2/process" location="../jbiServiceUnits/BpelModule/OrderProcess.wsdl"/>
    <import namespace="http://infosys.tuwien.ac.at/aic10/dto/custommanagerwrapper" location="../jbiServiceUnits/BpelModule/CustomerManagementServiceWrapper.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:OrderProcessPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="start_process">
            <soap:operation/>
            <input name="input">
                <soap:body use="literal"/>
            </input>
            <output name="output">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="callback">
            <soap:operation/>
            <input name="inputCallback">
                <soap:body use="literal"/>
            </input>
            <output name="outputCallback">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:CustomManagerWrapper">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="notify">
            <soap:operation/>
            <input name="notify">
                <soap:body use="literal"/>
            </input>
            <output name="notifyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="update_account">
            <soap:operation/>
            <input name="update_account">
                <soap:body use="literal"/>
            </input>
            <output name="update_accountResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="put">
            <soap:operation/>
            <input name="put">
                <soap:body use="literal"/>
            </input>
            <output name="putResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get">
            <soap:operation/>
            <input name="get">
                <soap:body use="literal"/>
            </input>
            <output name="getResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="post">
            <soap:operation/>
            <input name="post">
                <soap:body use="literal"/>
            </input>
            <output name="postResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation/>
            <input name="delete">
                <soap:body use="literal"/>
            </input>
            <output name="deleteResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="casaService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService1/casaPort1"/>
        </port>
    </service>
    <service name="casaService2">
        <port name="casaPort2" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService2/casaPort2"/>
        </port>
    </service>
</definitions>

