OrderProcessApp/src/jbiServiceUnits/BpelModule/CustomerManagementServiceWrapper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerManagementServiceWrapperService" targetNamespace="http://infosys.tuwien.ac.at/aic10/dto/custommanagerwrapper" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://infosys.tuwien.ac.at/aic10/dto/custommanagerwrapper" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/dto/custommanagerwrapper" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="address" type="tns:address"/>
      <xs:element name="customer" type="tns:customer"/>
      <xs:element name="delete" type="tns:delete"/>
      <xs:element name="deleteResponse" type="tns:deleteResponse"/>
      <xs:element name="get" type="tns:get"/>
      <xs:element name="getResponse" type="tns:getResponse"/>
      <xs:element name="notify" type="tns:notify"/>
      <xs:element name="notifyResponse" type="tns:notifyResponse"/>
      <xs:element name="post" type="tns:post"/>
      <xs:element name="postResponse" type="tns:postResponse"/>
      <xs:element name="put" type="tns:put"/>
      <xs:element name="putResponse" type="tns:putResponse"/>
      <xs:element name="update_account" type="tns:update_account"/>
      <xs:element name="update_accountResponse" type="tns:update_accountResponse"/>
      <xs:complexType name="notify">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="notifyResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="update_account">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="update_accountResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="put">
        <xs:sequence>
          <xs:element minOccurs="0" name="customer" type="tns:customer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customer">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="openBalance" type="xs:decimal"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adresses" nillable="true" type="tns:address"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
      </xs:complexType>
      <xs:complexType name="address">
        <xs:sequence>
          <xs:element minOccurs="0" name="street" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element name="house" type="xs:int"/>
          <xs:element name="door" type="xs:int"/>
          <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
          <xs:element name="isShipping" type="xs:boolean"/>
          <xs:element name="isBilling" type="xs:boolean"/>
          <xs:element name="isOther" type="xs:boolean"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
      </xs:complexType>
      <xs:complexType name="putResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="get">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:customer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="post">
        <xs:sequence>
          <xs:element minOccurs="0" name="customer" type="tns:customer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="postResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="post">
    <wsdl:part element="tns:post" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="put">
    <wsdl:part element="tns:put" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="update_account">
    <wsdl:part element="tns:update_account" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="putResponse">
    <wsdl:part element="tns:putResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="notify">
    <wsdl:part element="tns:notify" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="get">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="postResponse">
    <wsdl:part element="tns:postResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="update_accountResponse">
    <wsdl:part element="tns:update_accountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="notifyResponse">
    <wsdl:part element="tns:notifyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CustomManagerWrapper">
    <wsdl:operation name="notify">
      <wsdl:input message="tns:notify" name="notify"/>
      <wsdl:output message="tns:notifyResponse" name="notifyResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update_account">
      <wsdl:input message="tns:update_account" name="update_account"/>
      <wsdl:output message="tns:update_accountResponse" name="update_accountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="put">
      <wsdl:input message="tns:put" name="put"/>
      <wsdl:output message="tns:putResponse" name="putResponse"/>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:get" name="get"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
    </wsdl:operation>
    <wsdl:operation name="post">
      <wsdl:input message="tns:post" name="post"/>
      <wsdl:output message="tns:postResponse" name="postResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete"/>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerManagementServiceWrapperServiceSoapBinding" type="tns:CustomManagerWrapper">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notify">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="notify">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="notifyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_account">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update_account">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="update_accountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="put">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="put">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="putResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="post">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="postResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerManagementServiceWrapperService">
    <wsdl:port binding="tns:CustomerManagementServiceWrapperServiceSoapBinding" name="CustomerManagerServiceWrapperPT">
      <soap:address location="http://localhost:8080/CustomerManagementServiceWrapper"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>