OrderProcess/src/Shipping.wsdl

<?xml version="1.0" ?><wsdl:definitions name="ShippingServiceImplService" targetNamespace="http://infosys.tuwien.ac.at/aic10/dto/shipping" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://infosys.tuwien.ac.at/aic10/dto/shipping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/dto/shipping" version="1.0" xmlns:tns="http://infosys.tuwien.ac.at/aic10/dto/shipping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="address" type="tns:address"></xs:element>
<xs:element name="item" type="tns:item"></xs:element>
<xs:element name="product" type="tns:product"></xs:element>
<xs:element name="ship_items" type="tns:ship_items"></xs:element>
<xs:element name="ship_itemsResponse" type="tns:ship_itemsResponse"></xs:element>
<xs:complexType name="ship_items">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="tns:item"></xs:element>
<xs:element minOccurs="0" name="address" type="tns:address"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="item">
<xs:sequence>
<xs:element name="quantity" type="xs:int"></xs:element>
<xs:element minOccurs="0" name="product" type="tns:product"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal"></xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"></xs:attribute>
</xs:complexType>
<xs:complexType name="address">
<xs:sequence>
<xs:element minOccurs="0" name="street" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
<xs:element name="house" type="xs:int"></xs:element>
<xs:element name="door" type="xs:int"></xs:element>
<xs:element minOccurs="0" name="zipCode" type="xs:string"></xs:element>
<xs:element name="isShipping" type="xs:boolean"></xs:element>
<xs:element name="isBilling" type="xs:boolean"></xs:element>
<xs:element name="isOther" type="xs:boolean"></xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"></xs:attribute>
</xs:complexType>
<xs:complexType name="ship_itemsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ship_itemsResponse">
    <wsdl:part element="tns:ship_itemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ship_items">
    <wsdl:part element="tns:ship_items" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShippingService">
    <wsdl:operation name="ship_items">
      <wsdl:input message="tns:ship_items" name="ship_items">
    </wsdl:input>
      <wsdl:output message="tns:ship_itemsResponse" name="ship_itemsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingServiceImplServiceSoapBinding" type="tns:ShippingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="ship_items">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="ship_items">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="ship_itemsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingServiceImplService">
    <wsdl:port binding="tns:ShippingServiceImplServiceSoapBinding" name="ShippingServiceImplPort">
      <soap:address location="http://localhost:8080/Shipping"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>