OrderProcess/src/SupplierService.wsdl

<wsdl:definitions name="SupplierService" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" xmlns:ns1="http://soap.aic.infosys.tuwien.ac.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" version="1.0" xmlns:tns="http://soap.aic.infosys.tuwien.ac.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="order" type="tns:order"/>
         <xs:element name="orderResponse" type="tns:orderResponse"/>
         <xs:element name="product" type="tns:product"/>
         <xs:complexType name="order">
            <xs:sequence>
               <xs:element minOccurs="0" name="product" type="tns:product"/>
               <xs:element minOccurs="0" name="amount" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="product">
            <xs:sequence>
               <xs:element minOccurs="0" name="name" type="xs:string"/>
               <xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="orderResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="return" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="orderResponse">
      <wsdl:part element="ns1:orderResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="order">
      <wsdl:part element="ns1:order" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="SupplierService">
      <wsdl:operation name="order">
         <wsdl:input message="ns1:order" name="order"/>
         <wsdl:output message="ns1:orderResponse" name="orderResponse"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>