OrderComposition/src/jbiServiceUnits/META-INF/OrderProcess/src/_references/_cache/localhost_8080/Warehouse.wsdl_WarehouseService.wsdl

<?xml version="1.0" ?><wsdl:definitions name="WarehouseService" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" xmlns:ns1="http://soap.aic.infosys.tuwien.ac.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.aic.infosys.tuwien.ac.at/" version="1.0" xmlns:tns="http://soap.aic.infosys.tuwien.ac.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="check_availability" type="tns:check_availability"></xs:element>
<xs:element name="check_availabilityResponse" type="tns:check_availabilityResponse"></xs:element>
<xs:element name="order" type="tns:order"></xs:element>
<xs:element name="orderResponse" type="tns:orderResponse"></xs:element>
<xs:element name="product" type="tns:product"></xs:element>
<xs:element name="warehouseResponse" type="tns:warehouseResponse"></xs:element>
<xs:complexType name="order">
<xs:sequence>
<xs:element minOccurs="0" name="product" type="tns:product"></xs:element>
<xs:element minOccurs="0" name="amount" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal"></xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"></xs:attribute>
</xs:complexType>
<xs:complexType name="orderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:decimal"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="check_availability">
<xs:sequence>
<xs:element minOccurs="0" name="product" type="tns:product"></xs:element>
<xs:element minOccurs="0" name="amount" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="check_availabilityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:warehouseResponse"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="warehouseResponse">
<xs:sequence>
<xs:element name="deliveryTime" type="xs:int"></xs:element>
<xs:element name="isAvailable" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="orderResponse">
    <wsdl:part element="ns1:orderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="order">
    <wsdl:part element="ns1:order" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="check_availability">
    <wsdl:part element="ns1:check_availability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="check_availabilityResponse">
    <wsdl:part element="ns1:check_availabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WarehouseService">
    <wsdl:operation name="order">
      <wsdl:input message="ns1:order" name="order">
    </wsdl:input>
      <wsdl:output message="ns1:orderResponse" name="orderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_availability">
      <wsdl:input message="ns1:check_availability" name="check_availability">
    </wsdl:input>
      <wsdl:output message="ns1:check_availabilityResponse" name="check_availabilityResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>